*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:  "Montserrat", sans-serif;;
}

h1,h2,h3,h4{
    font-family: "Josefin Sans", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.navigation1{
    background-color: white;
    height: 100px;
    border-bottom: 1.5px solid gray;
    display: flex;
    align-items: center;
}

.navigation1 li{
    text-align: center;
}

.headimg1 img{
    padding-top: 12px;
    height: 99px;
    padding-left: 10px;
}

.navigation1 li input{
    margin: 0 20px;
    padding: 15px;
    padding-right: 200px;
    background-image: url("/image/magnifying-glass-solid-full.svg");
    background-position: 370px 10px;
    background-repeat: no-repeat;
    background-size: 35px;
    border: 1.5px solid gray;
}

.navigation1 li input:focus{
    border: 2px solid orange;
    outline: none;
}

.loc-head{
    margin: 0 20px;
}

.loc-head a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}

.flag{
    padding-left: 10px;
}

.flag a{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}


.login{
    padding-left: 10px;
}

.login a{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 20px;
    border: 1.5px solid transparent;
}

.login a:hover{
    background-color: orange;
    color: white;
    border-color: orange;
}


.cart{
    padding-left: 5px;
}

.cart a{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 20px;
    border: 1.5px solid transparent;
}

.cart a:hover{
    border-color: rgb(245,157,33);
}

#cart{
    margin-right: 8px;
}


.order{
    padding-left: 10px;
}

.order a{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding: 20px;
    border: 1.5px solid transparent;
}

.order a:hover{
    background-color: orange;
    color: white;
    border-color: orange;
}

.navbar{
    width: 100%;
    height: 40px;
}

.navigation2{
    background-color: white;
    height: 40px;
    border-bottom: 1.5px solid gray;
    display: flex;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.navigation2 li{
     flex-shrink: 0;
    
}

.navigation2 li a{
    display: block;
    padding: 0px 14.5px;
    padding-bottom: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    text-align: center;
}

.navigation2::-webkit-scrollbar{
    display: none;
}

.navigation2 li a:hover{
    color: orange;
    border-bottom:8px solid orange ;
}


.firstad{
    display: block;
    width: auto;
    height: 380px;             
    background-image: url(/image/ad1.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.button-firstad{
    border: 1px solid white;
    padding: 15px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    position: relative;
    display: inline-flex;
    top:80%;
    left:120px;  

}

    .downad{
        background-color: rgba(252, 168, 11, 0.211);
        height: 80px;
        width: auto;
        padding-top: 15px;
        display: flex;
        justify-content: space-evenly;
    }

    .downad span{
        border: 1px solid orange;
        height: fit-content;
        text-align: center;
        width: 200px;
        padding: 15px;
        background-color: white;
        border-radius: 3px;
        cursor: pointer;
    }

    .downad span:hover{
        background-color: orange;
        color: white;
    }

@media screen and (max-width:900px){

    .navigation1{
        flex-direction: column;
        height: auto;
    }
    .navigation1 li{
        margin: 10px 0;
    }
    .navigation1 li input{
        width: 230px;
        padding-right: 80px;
        background-position: 180px center;
    }
    .headimg1 img{
        padding-left: 0;
    } 
    .firstad{
    display: block;
    width: auto;
    height: 260px; 
    background-size: 120% 100%;            
    }

    .button-firstad{
    padding: 5px;
    font-size: 10px;
    top:82%;
    left:65px;
    }
 
}

@media screen and (max-width:599px){

    .firstad{
    display: block;
    height: 230px;
    max-width: 100%;
    background-image: url(/image/ad01.png);      
    }

    .button-firstad{
    padding: 5px;
    font-size: 10px;
    top:82%;
    left:35px;
    }

        .downad{
        flex-direction: column;
        height: auto;

    }
    .downad span{
        width: 200px;
        text-align: center;
        margin-left:auto ;
        margin-right: auto;
        margin-bottom: 10px;
    }

}

